<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rest Assured API Test" verbose="1" parallel="false">

  <!-- Optional: run only specific group -->
  <!-- 
  <groups>
  		<run>
  			<include name="smoke"/>  		
  		</run>  
  </groups>
  -->
  
  <listeners>
	 <listener class-name="com.sl.api.framework.reporting.ExtentReportListener"/>
  </listeners>
  
  <test name="API Test">
    <classes>
      <class name="com.sl.api.tests.EndToEndObjectFlowTest"/>
      
      <!-- <class name="com.sl.api.tests.CreateObjectTest"/>  -->
      
      <class name="com.sl.api.tests.GetObjectTest"/>
      
      <!-- <class name="com.sl.api.tests.UpdateObjectTest"/> -->
      <!-- <class name="com.sl.api.tests.DeleteObjectTest"/> -->
      

    </classes>
  </test> 
  
  
</suite>
